footer {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(245, 245, 245);
  padding: 16px;
  text-align: center;
  color: teal;
  /*  github and linkdin icon */
}
footer .social-media {
  font-size: 32px;
  letter-spacing: 0.5em;
}
footer .info .contact {
  font-size: 18px;
  font-weight: bold;
}

/*  media screen for desktop view */
@media screen and (min-width: 1280px) {
  footer .info .contact {
    font-size: 20px;
  }
}
header {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 160px;
  /*  header-navigation */
}
header .name {
  font-size: 30px;
  color: rgb(210, 107, 124);
  margin-top: 8px;
  margin-left: 16px;
  font-weight: bold;
}
header .name #first-name {
  margin: 0;
  margin-top: 20px;
  padding-bottom: 0;
}
header .name #last-name {
  margin-top: 0;
  padding-top: 0;
  position: absolute;
  left: 50px;
}
header .navi-bar {
  width: 100%;
  height: 42px;
  padding-top: 62px;
  padding-bottom: 10px;
  text-align: center;
}
header .navi-bar a {
  font-size: 18px;
  font-weight: bold;
  color: teal;
  text-decoration: none;
  margin-right: 10px;
  /*  navigation-icons */
}
header .navi-bar a:hover {
  cursor: pointer;
}
header .navi-bar a .fa-solid {
  margin-left: 8px;
  font-size: 12px;
}

/*  media screen for tablet view */
@media screen and (min-width: 768px) {
  header .name {
    font-size: 40px;
  }
  header .navi-bar {
    text-align: right;
  }
  header .navi-bar a {
    font-size: 22px;
    margin-right: 24px;
  }
}
/*  media screen for desktop view */
@media screen and (min-width: 1280px) {
  header {
    /*  header-navigation */
  }
  header .name {
    font-size: 50px;
    margin-left: 50px;
    font-weight: bold;
    margin-top: 0px;
  }
  header .name #last-name {
    margin-top: 0;
    padding-top: 0;
    position: absolute;
    left: 60px;
  }
  header .navi-bar {
    width: 100%;
    height: 55px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: right;
  }
  header .navi-bar a {
    font-size: 25px;
    font-weight: bold;
    color: teal;
    text-decoration: none;
    margin-right: 150px;
    /*  navigation-icons */
  }
  header .navi-bar a:hover {
    cursor: pointer;
  }
  header .navi-bar a .fa-solid {
    margin-right: 8px;
    font-size: 20px;
  }
}
footer {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(245, 245, 245);
  padding: 16px;
  text-align: center;
  color: teal;
  /*  github and linkdin icon */
}
footer .social-media {
  font-size: 32px;
  letter-spacing: 0.5em;
}
footer .info .contact {
  font-size: 18px;
  font-weight: bold;
}

/*  media screen for desktop view */
@media screen and (min-width: 1280px) {
  footer .info .contact {
    font-size: 20px;
  }
}
body {
  margin: 0;
  background-color: snow;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: 100%;
  /*  font-family */
  font-family: Georgia, "Times New Roman", Times, serif;
}
main section {
  /*  grid-section for mobile view */
}
main section .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr 0.3fr 0.5fr;
  grid-template-areas: "content-1" "content-2" "content-3" "content-4";
  gap: 0px 0px;
  justify-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
main section .container .content-1 {
  grid-area: content-1;
  margin-top: 20px;
}
main section .container .content-1 h1 {
  font-size: 22px;
}
main section .container .content-1 h1 span {
  display: inline-block;
  color: rgb(210, 107, 124);
  text-shadow: 1px 2px 3px white;
  animation: poyo3 2.5s infinite;
  opacity: 1;
}
main section .container .content-2 {
  grid-area: content-2;
  margin-bottom: 10px;
  /*  home-image */
}
main section .container .content-2 img {
  height: 280px;
  width: 300px;
  border-radius: 10px;
  opacity: 0.8;
}
main section .container .content-3 {
  grid-area: content-3;
}
main section .container .content-3 h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 4px;
}
main section .container .content-4 {
  grid-area: content-4;
  margin-bottom: 22px;
  /*  programming language icons  */
}
main section .container .content-4 p {
  font-size: 18px;
}
main section .container .content-4 .fa-brands {
  font-size: 34px;
  letter-spacing: 10px;
}

/*  animation keyframes */
@keyframes poyo3 {
  0%, 40% {
    transform: skew(0deg, 0deg);
  }
  5% {
    transform: skew(5deg, 5deg);
  }
  10% {
    transform: skew(-4deg, -4deg);
  }
  15% {
    transform: skew(3deg, 3deg);
  }
  20% {
    transform: skew(-2deg, -2deg);
  }
  25% {
    transform: skew(1deg, 1deg);
  }
  30% {
    transform: skew(-0.6deg, -0.6deg);
  }
  35% {
    transform: skew(0.3deg, 0.3deg);
  }
}
/*  media screen for desktop view */
@media screen and (min-width: 1280px) {
  main {
    background-image: url(/images/laptop1.jpg);
  }
  main section {
    /*  background-color to make background-image opaciy */
    background-color: rgba(255, 255, 255, 0.74);
    /*  grid-section for desktop view */
  }
  main section .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "content-1" "content-3" "content-4";
    gap: 0px 0px;
    justify-items: center;
    /*  to make image for mobile view invisible */
  }
  main section .container .content-1 h1 {
    font-size: 60px;
  }
  main section .container .content-2 img {
    display: none;
  }
  main section .container .content-3 h2 {
    font-size: 40px;
  }
  main section .container .content-4 {
    /* programming language icons   */
  }
  main section .container .content-4 p {
    font-weight: bold;
  }
  main section .container .content-4 .fa-brands {
    font-size: 70px;
    letter-spacing: 30px;
    font-weight: bold;
  }
  main section .container .content-4 span {
    font-weight: bold;
  }
}/*# sourceMappingURL=home.css.map */