@import "./components/header";
@import "./components/footer";
@import "./defaults/color";


body {
    margin: 0;
    background-color: $secondary-backgroundcolor;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}